body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F1FAEE;
    font-size: 16px;
    color: #111;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.table-mes {
    table-layout: fixed;
    padding: 1rem;
    border-collapse: collapse;
    margin: 0 1rem 0 1rem;
}

.table-mes thead {
    border-bottom: 1px solid #457B9D;
    margin-bottom: 1rem;
}

.table-mes td,
.table-mes th {
    width: 3rem;
    height: 3rem;
    padding: 0;
    text-align: center;
}

.table-mes tbody tr:hover {
    background-color: #cae9ea;
}

.table-mes td.com-dia:hover {
    background-color: #f6b9be;
    cursor: pointer;
    border-radius: 50%;
}

.table-mes td.ativo {
    background-color: #f19199;
    border-radius: 50%;
}

.table-mes td.ativo:hover {
    background-color: #ef7d87;
}

.botao,
.select {
    background-color: transparent;
    cursor: pointer;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    text-align: center;
    justify-content: center;
    white-space: nowrap;
    font-weight: 700;
    font-size: 1rem;
    border: none;
}

.botao:hover,
.select:hover {
    background-color: #8ccfd1;
}

.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.botao {
    padding: 1rem;
}

.calendario-nav {
    margin: 1rem 0 1rem 0;
}

.calendario {
    background-color: #A8DADC;
    height: 100vh;
}

.agendamentos {
    flex: 1 0 auto;
}

.agendamentos ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.agendamentos-cabecalho {
    padding: 1rem;
}

.data-selecionada {
    margin-right: 1rem;
    font-size: 1.7rem;
    font-weight: 600;
    vertical-align: middle;
}

#novo-agendamento {
    background-color: #5691b5;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    color: #fff;
}

#novo-agendamento:hover {
    background-color: #457b9d;
}

.agendamento {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1rem;
}

.agendamento:hover {
    cursor: pointer;
    background-color: #e2f5dc;
}

.agendamento-horario,
.agendamento-dados {
    display: flex;
    flex-direction: column;
}

.agendamento-dados {
    margin-left: 2rem;
}

.agendamento-horario .horario-inicio {
    font-size: 1.3rem;
    font-weight: 600;
}

.agendamento-horario .horario-termino,
.agendamento-dados .categoria {
    color: #666;
}

.agendamento-dados .titulo {
    font-size: 1.3rem;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.modal {
    display: none;
    position: fixed;
    z-index: 50;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal.modal-ativo {
    display: flex;
}

.modal-fundo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-conteudo {
    position: relative;
    background-color: #fff;
    width: 35rem;
    padding: 1.25rem;
    border-radius: .5rem;
    overflow: auto;
    margin: 0 auto;
    max-height: calc(100vh - 2rem);
}

.modal-cabecalho {
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.modal-titulo {
    margin: 0;
    flex: 1;
    font-size: 1.5rem;
    font-weight: 600;
}

.modal-botao-fechar {
    font-weight: 400;
    background-color: #f5f5f5;
    padding: .5rem;
    border-radius: .25rem;
}

.modal-botao-fechar:hover {
    background-color: #eee;
}

.label {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.campo-entrada {
    line-height: 1.5;
    margin-bottom: 1rem;
}

.campo-entrada .campo-entrada {
    margin-bottom: 0;
}

.campo-entrada .campo-entrada:not(:first-child) {
    margin-left: 1rem;
}

.campo-entrada-grupo {
    display: flex;
    justify-content: flex-start;
}

.input,
.textarea,
.select-entrada {
    width: 100%;
    max-width: 100%;
    padding: .5rem;
    font-size: 1rem;
    line-height: 1.5;
    vertical-align: top;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    box-sizing: border-box;
}

.textarea {
    resize: vertical;
    min-height: 8rem;
    max-height: 16rem;
}

.input:focus,
.input:active,
.textarea:focus,
.textarea:active,
.select-entrada:focus,
.select-entrada:active {
    border-color: #3273dc;
    box-shadow: 0 0 0 3px rgba(50, 115, 220, 0.25);
    outline: none;
}

.input:invalid {
    border-color: tomato;
}

.modal-rodape {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 2rem;
}

.modal-botao-salvar {
    font-weight: 400;
    color: #fff;
    background-color: #5691b5;
    padding: .5rem;
    border-radius: .25rem;
}

.modal-botao-salvar:hover {
    background-color: #457b9d;
}

.sem-scroll {
    overflow: hidden !important;
}